<%= form_for(@played_level) do |f| %>
  <% if @played_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@played_level.errors.count, "error") %> prohibited this played_level from being saved:</h2>

      <ul>
      <% @played_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started_at %><br>
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :ended_at %><br>
    <%= f.datetime_select :ended_at %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="field">
    <%= f.label :level_completed %><br>
    <%= f.check_box :level_completed %>
  </div>
  <div class="field">
    <%= f.label :stars %><br>
    <%= f.number_field :stars %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.text_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :count_correct %><br>
    <%= f.number_field :count_correct %>
  </div>
  <div class="field">
    <%= f.label :level_xp %><br>
    <%= f.number_field :level_xp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
