<div class = "not-opaque">
<h1>Gespeelde levels</h1>

<table>
  <thead>
    <tr>
      <th>Started at</th>
      <th>Ended at</th>
      <th>seconds</th>
      <th>level_completed</th>
      <th>Stars</th>
      <th>Level</th>
      <th>User</th>
      <th>count_correct</th>
      <th>Levelxp</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @played_levels.each do |played_level| %>
      <tr>
        <td><%= played_level.started_at %></td>
        <td><%= played_level.ended_at %></td>
        <td><%= played_level.seconds %></td>
        <td><%= played_level.level_completed %></td>
        <td><%= played_level.stars %></td>
        <td><%= played_level.level.number %></td>
        <td><%= played_level.user.name %></td>
        <td><%= played_level.count_correct %></td>
        <td><%= played_level.level_xp %></td>
        <td><%= link_to 'Toon', played_level %></td>
        <td><%= link_to 'Verwijder', played_level, method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>