<div class = "container">
<div class = "not-opaque">
  <p id="notice">
  <%= notice %></p>

<p>
  <strong>Started at:</strong>
  <%= @played_level.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @played_level.ended_at %>
</p>

<p>
  <strong>seconds:</strong>
  <%= @played_level.seconds %>
</p>

<p>
  <strong>Levelcompleted:</strong>
  <%= @played_level.level_completed %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @played_level.stars %>
</p>

<p>
  <strong>Level:</strong>
  <%= @played_level.level %>
</p>

<p>
  <strong>User:</strong>
  <%= @played_level.user %>
</p>


<p>
  <strong>Correctquestions:</strong>
  <%= @played_level.count_correct %>
</p>

<p>
  <strong>Levelxp:</strong>
  <%= @played_level.level_xp %>
</p>

<%= link_to 'Terug', played_levels_path %>
</div>
</div>