<% if @current_user.picture.present? %>
	<%= image_tag(@current_user.picture_url, :width => 100, :class => "img-rounded displayed") %>
<% else %>
	<%= image_tag("default.png", :width => 100, :class => "img-rounded displayed") %>

<% end %>
</p>

<div class="text-center"><p>
	<p>xp totaal: <%= current_user.xp %></p>
	<p><% if @round_xp != nil %>
		xp dit level: </br>
		<strong><%= @round_xp %></strong>
	<%end%></p>
	<% if flash[:notice] %>
  		<b><%= flash[:notice] %></b>
  	<% end %>
</p>
</div>