<div class="text-center">
  <div class="btn-group">
  <div class="btn btn-default"><%= link_to_unless @answer.hintsentenceused == true || @answer.hintimageused == true, 'Woord', :controller => "questions", :action => "usedhints", id: @question.id, answerid: @answer.id, hintid: "hintsemanticused"%>
  </div>

  <div class="btn btn-default"><%= link_to_unless @answer.hintsemanticused == true || @answer.hintimageused == true, 'zin', :controller => "questions", :action => "usedhints", id: @question.id, answerid: @answer.id, hintid: "hintsentenceused" %>
  </div>
  <div class="btn btn-default"><%= link_to_unless @answer.hintsentenceused == true || @answer.hintsemanticused == true, 'afbeelding', :controller => "questions", :action => "usedhints", id: @question.id, answerid: @answer.id, hintid: "hintimageused" %>
  </div>
</div>

<% if @answer.hintsemanticused == true %>
  <div class="alert alert-info"><%= @question.hintsemantic %></div>
<% elsif @answer.hintsentenceused == true %>
  <div class="alert alert-info"><%= @question.hintsentence %></div>
<% elsif @answer.hintimageused  == true%>
        <div class="alert alert-info"><%= image_tag("preview.png", :width => 250, :class => "img-rounded") %></div>
    
<% end %>
