<script type = 'text/javascript'>
	function submitAnswer(ans){
		var answerField = document.getElementById('answer');
		answerField.value = ans;
		var form = document.getElementById('answerform');
		form.submit();
	}
</script>

<p>
	<%= debug @test%>

	<b>Question:</b>
	<%=h @question.word %>
</p>

<p>
	<b>1:</b>
	<%= link_to @question.ans1, '#', :onclick=>"submitAnswer(1);return false;" %>
</p>

<p>
	<b>2:</b>
	<%= link_to @question.ans2, '#', :onclick=>"submitAnswer(2);return false;" %>
</p>

<p>
	<b>3:</b>
	<%= link_to @question.ans3, '#', :onclick=>"submitAnswer(3);return false;" %>
</p>

<p>
	<b>4:</b>
	<%= link_to @question.ans4, '#', :onclick=>"submitAnswer(4);return false;" %>
</p>


<p>
	<p>
  <strong>Hintsemantic:</strong>
  <%= @question.hintsemantic %>
</p>

<p>
  <strong>Hintsentence:</strong>
  <%= @question.hintsentence %>
</p>

<p>
  <strong>Hintsentence:</strong>
  <%= @question.hintimage %>
</p>


	<%= form_tag({:controller => "answers", :action => "finishquestion", :answer_id => @answer.id},
	:id => 'answerform') do %>
	<%= hidden_field_tag :answer, 0 %>
	<% end %>