<script type = 'text/javascript'>
  function submitAnswer(ans){
    var answerField = document.getElementById('answer');
    answerField.value = ans;
    var form = document.getElementById('answerform');
    form.submit();
  }
</script>
<style>
.clock{
zoom: 0.8;
-moz-transform: scale(0.8)
}
</style>

<div class="container">
	<div class="main">
		<div class="row">
			<div class="col-md-2">
				<div class="panel panel-info">
              		<div class="panel-heading">
                		<h3 class="panel-title"><%=@current_user.name%></h3>
              		</div>
              		<div class="panel-body">
               			<div>
               				<div class="float-left">
									<%= render 'userinfo' %></br>
									<%= render 'teller' %>
							</div>	
               			</div>
              		</div>
	          	</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-info">
              		<div class="panel-heading">

                		<h3 class="panel-title">Vraag <%= @current_answer_number %>/30</h3>
              		</div>
              		<div class="panel-body">
               		
								<div class="question">
									<p class = "question">
										<b><%=h @question.word %></b>
									</p>

									<p>
										<b>1:</b>
										<%= link_to @question.ans1, '#', :onclick=>"submitAnswer(1);return false;", :class =>"questionlink" %>
									</p>

									<p>
										<b>2:</b>
										<%= link_to @question.ans2, '#', :onclick=>"submitAnswer(2);return false;", :class =>"questionlink" %>
									</p>

									<p>
										<b>3:</b>
										<%= link_to @question.ans3, '#', :onclick=>"submitAnswer(3);return false;", :class =>"questionlink" %>
									</p>

									<p>
										<b>4:</b>
										<%= link_to @question.ans4, '#', :onclick=>"submitAnswer(4);return false;", :class =>"questionlink" %>
									</p>
								</div>		
               		</div>
             	</div>
	        </div>
			<div class="col-md-5">
				<div>
					<div class="panel panel-info">
	                	<div class="panel-heading">
	                  		<h3 class="panel-title">Hints (gebruik -50 XP)</h3>
	                	</div>
	                	<div class="panel-body">
	                 		<div>
							<%= render 'usedhints' %>
								<%= form_tag({:controller => "answers", :action => "finishquestion", :answer_id => @answer.id},
								:id => 'answerform') do %>
								<%= hidden_field_tag :answer, 0 %>
								<% end %>
							</div>	
						</div>
	             	</div>
				</div>
			</div>
	    </div>
	</div>
</div>

	