<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :acro %><br />
    <%= text_field_tag :acro, params[:acro] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">inloggen<%= submit_tag 'login', :style => "display:none" %></button></p>
<% end %>


	</div>
</div>
