<div class="container">
      <div class="main">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"></i>Log In </h3>
              </div>
              <div class="panel-body">
                <div>
                  <div class="float-left">
                    <% flash.each do |name, msg| %>
                     <p> <%= content_tag :div, msg, :id => "flash_#{name}" %></p>
                    <% end %>

                    <%= form_tag sessions_path do %>
                      <p>
                        <%= label_tag :acro %> (kleine letters)<br />
                        <%= text_field_tag :acro, params[:acro] %>
                      </p>
                      <p>
                        <%= label_tag :password %><br />
                        <%= password_field_tag :password %>
                      </p>
                      <button class="btn btn-lg btn-info btn-block" type="submit">inloggen<%= submit_tag 'login', :style => "display:none" %></button></p>
                    <% end %>


                    	</div>
                    </div>
               </div>
               <div class="col-md-3">
          </div>
        </div>
        </div>
              </div>
      </div>
      </div>
        </div>