 <div class = "not-opaque">
    <h1>Overzicht users</h1>

  <table>
    <thead>
      <tr>
        <th>acro</th>
        <th>XP</th>
        <th>naam</th>
        <th>klas</th>
        <th>avatar</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.acro %></td>
          <td><%= user.xp %></td>
          <td><%= user.name %></td>
          <td><%= user.klas %></td>
          <td><% if user.picture.present? %>
                <%= image_tag(user.picture, :width => 50) %>
            <% end %></td>
          <td><%= link_to 'Toon', user %></td>
          <td><%= link_to 'Bewerken', edit_user_path(user) %></td>
          <td><%= link_to 'Verwijder', user, method: :delete, data: { confirm: 'Weet je dit zeker?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'user', new_user_path %>
</div>