
<div class="container">
  <div class="main">
    <div class="row">

      <div class="col-md-1"></div>

      <div class="col col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
           <h4> <i class="fa fa-smile-o"></i>&nbsp;<%= @user.name %></h4>
          </div>
          <div class="panel-body top">
            <div class="float-left">
              <table class="fullwidth">
                <tr>
                  <td>
                      <p>
                        Jouw behaalde XP:
                        <strong><%= @user.xp %></strong></br>
                        Aantal sterren: <b><%= @starcount %></b></br>
                        Aantal trofeeën: <b><%= @throphycount %></b>
                      </p> 

                      <% if @user.picture.present? %>
                        <%= image_tag(@user.picture_url, :height => 130, :class => "img-rounded") %>
                      <% else %>
                        <%= image_tag("default.png", :height => 130, :class => "img-rounded") %>
                      <% end %>
                      <%= render 'form' %>             
                  </td>
                </tr>                    
              </table>
            </div>  
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4><i class="fa fa-sitemap">&nbsp;</i>Levels</h4>
          </div>
          <div class="panel-body top">    
            <table class="fullwidth">
            <% @lvlscores.each do |level, stars| %>
              <tr>
                <td><%= link_to 'Level ' + level.number.to_s, :controller => "playedlevels", :action => "startlevel", :id=>level.id %></td>
                <td> <%= level.openingdate.strftime("%d-%m-%Y")  %> t/m <%= level.closingdate.strftime("%d-%m-%Y") %></td>
                <td><%= image_tag("" + stars.to_s + ".jpg", :width => 60) %></td>
              </tr>
            <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
      <div class="row col-wrap">

        <div class="col-md-1"></div>

        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4><i class="fa fa-sort-amount-desc">&nbsp;</i>Highscores</h4>
            </div>
            <div class="panel-body">
              <table class="fullwidth">
              <% @gebruikers.each do |gebruiker| %>
                <tr>
                    <td><%=gebruiker.name %></td>
                    <td class="align-right"><%=gebruiker.xp %></td>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading border-warning">
              <h4><i class="fa fa-trophy">&nbsp;</i>Trofeeën</h4>
            </div>
            <div class="panel-body top pre-scrollable">
              <table class="fullwidth">
                <tr>
              <% @achievements.each do |achievement| %>
                <tr>
                  <td><%= image_tag("trophytrue.png", :width => 40) %></td>
                  <td><%=achievement.medal.description%></td>
                  <td><%=achievement.medal.xp%> xp</td>
                </tr>
              <% end %>
              <% @medals.each do |medal| %>
                <% if @achievements.where(:medal => medal).empty? %>
                  <tr>
                    <td><%= image_tag("trophyfalse.png", :width => 40) %></td>
                    <td><%=medal.description%></td>
                    <td><%=medal.xp%> xp</td>
                  </tr>
                <%end%>
              <% end %>

              </table>
            </div>
          </div>
        </div>
      
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>



















