

<!-- hier komt een div met de gegevens van de user -->
<h2>Gegevens</h2>
<p>
  <strong>Naam:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Klas:</strong>
  <%= @user.klas %>
</p>
<p>
  <strong>XP:</strong>
  <%= @user.xp %>
</p>

<p>
  <strong>Avatar:</strong>
</p>
<% if @user.picture.present? %>
	<%= image_tag(@user.picture_url, :width => 150) %>
<% else %>
	<%= image_tag("default.png", :width => 150) %>
<% end %>
 </p>

<%= render 'form' %>


<!-- hier komt een div met de levels -->
 <h2>Welk level wil je spelen</h2>
<table>
	<tr>
		<th>level</th>
	</tr>
	<% @levels.each do |level| %>
	<tr>
		<td> level <%=level.number %></td>
	<td>
	<%= link_to ' Speel dit level', :controller => "playedlevels", :action => "startlevel", :id=>level.id %></td>
	</tr>
<% end %>
</table>

<!-- hier komt een div met de highscores van de users -->
 <h2>highscores</h2>
	<table>
	<tr>
		<th>speler</th>
		<th>aantal punten</th>
	</tr>
	<% @gebruikers.each do |gebruiker| %>
	<tr>
		<td><%=gebruiker.name %></td>
		<td><%=gebruiker.xp %></td>
	</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<!-- hier komt een div met de gewonnen medailles->


