<%= form_for @question, :html => {:multipart => true} do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :given_answer %><br>
    <%= f.number_field :given_answer %>
  </div>
  <div class="field">
    <%= f.label :correct_answered %><br>
    <%= f.check_box :correct_answered %>
  </div>
  <div class="field">
    <%= f.label :used_semantic_hint %><br>
    <%= f.check_box :used_semantic_hint %>
  </div>
  <div class="field">
    <%= f.label :used_sentence_hint %><br>
    <%= f.check_box :used_sentence_hint %>
  </div>
  <div class="field">
    <%= f.label :used_image_hint %><br>
    <%= f.check_box :used_image_hint %>
  </div>
  <div class="field">
    <%= f.label :xp %><br>
    <%= f.number_field :xp %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
