 <div class = "not-opaque">
  <h1>Antwoordenlijst</h1>

<table>
  <thead>
    <tr>
      <th>Gegeven antwoord</th>
      <th>Goede antwoord</th>
      <th>Hint synoniem?</th>
      <th>hint zin?</th>
      <th>hint plaatje?</th>
      <th>Xp</th>
      <th>seconden</th>
      <th>Lvl</th>
      <th>Vraag</th>
      <th>Gebruiker</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.given_answer %></td>
        <td><%= answer.correct_answered %></td>
        <td><%= answer.used_semantic_hint %></td>
        <td><%= answer.used_sentence_hint %></td>
        <td><%= answer.used_image_hint %></td>
        <td><%= answer.xp %></td>
        <td><%= answer.seconds %> </td>
        <td><%= answer.question.level_id %></td>
        <td><%= answer.question.id %></td>
        <td><%= answer.user.name %></td>
        <td><%= link_to 'Toon', answer %></td>
        <td><%= link_to 'Verwijder', answer, method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>