<div class = "container">
 <div class = "not-opaque">


<p id="notice"><%= notice %></p>


<p>
  <%= @answer.user.name %>
</p>
<p>
  <strong>Gegeven antwoord:</strong>
  <%= @answer.given_answer %>
</p>

<p>
  <strong>Goede antwoord:</strong>
  <%= @answer.correct_answered %>
</p>

<p>
  <strong>Hint synoniem gebruikt?:</strong>
  <%= @answer.used_semantic_hint %>
</p>

<p>
  <strong>Hint Zin gebruikt?:</strong>
  <%= @answer.used_sentence_hint %>
</p>

<p>
  <strong>Hint afbeelding gebruikt?:</strong>
  <%= @answer.used_image_hint %>
</p>

<p>
  <strong>Xp:</strong>
  <%= @answer.xp %>
</p>

<p>
  <strong>Tijdsduur:</strong>
  <%= @answer.seconds %>
</p>

<p>
  <strong>Level:</strong>
  <%= @answer.question.level.number %>
</p>

<p>
  <strong>Vraag:</strong>
  <%= @answer.question.id %>
</p>


<%= link_to 'Terug', answers_path %>

</div>
</div>