<h1>Listing medals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Xp</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medals.each do |medal| %>
      <tr>
        <td><%= medal.name %></td>
        <td><%= medal.description %></td>
        <td><%= medal.xp %></td>
        <td><%= medal.type %></td>
        <td><%= link_to 'Show', sti_medal_path(medal.type, medal) %></td>
        <td><%= link_to 'Edit', '' %></td>
        <td><%= link_to 'Destroy', '', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medal', new_medal_path %>
