<div class = "not-opaque">
<h1>Overzicht van de levels</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Openingdate</th>
      <th>Closingdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.number %></td>
        <td><%= level.openingdate %></td>
        <td><%= level.closingdate %></td>
        <td><%= link_to 'Toon', level %></td>
        <td><%= link_to 'Bewerken', edit_level_path(level) %></td>
        <td><%= link_to 'Verwijder', level, method: :delete, data: { confirm: 'Annuleer deze actie en gebruik bewerken.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuw Level', new_level_path %>
</div>