<div class = "container">
<div class = "not-opaque">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Number:</strong>
	  <%= @level.number %>
	</p>

	<p>
	  <strong>Openingdate:</strong>
	  <%= @level.openingdate %>
	</p>

	<p>
	  <strong>Closingdate:</strong>
	  <%= @level.closingdate %>
	</p>

	<%= link_to 'Bewerk', edit_level_path(@level) %> |
	<%= link_to 'Terug', levels_path %>

</div>
</div>