<%= form_for(@playedlevel) do |f| %>
  <% if @playedlevel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playedlevel.errors.count, "error") %> prohibited this playedlevel from being saved:</h2>

      <ul>
      <% @playedlevel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started_at %><br>
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :ended_at %><br>
    <%= f.datetime_select :ended_at %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="field">
    <%= f.label :levelcompleted %><br>
    <%= f.check_box :levelcompleted %>
  </div>
  <div class="field">
    <%= f.label :stars %><br>
    <%= f.number_field :stars %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.text_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :correctquestions %><br>
    <%= f.number_field :correctquestions %>
  </div>
  <div class="field">
    <%= f.label :levelxp %><br>
    <%= f.number_field :levelxp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
