<div class="container">
	<div class="main">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
              		<div class="panel-heading">
                		<h3 class="panel-title">Het level is afgerond!</h3>
              		</div>
              		<div class="panel-body">
               			<div>
               				<div class="float-left">
               				<p>Level Voltooid!</p></br>
               				<p> Beste <%= @playedlevel.user.name %>. </p>
							<p>Je hebt dit level in <%= @playedlevel.playtime %> seconden voltooid.</p>
							<p>Je hebt <%= @playedlevel.correctquestions %> van de 10 vragen goed.</p>
							<p>Je hebt <%= @playedlevel.levelxp  %> XP behaald.
							<p>Je hebt de woorden <%= @playedlevel.answers.where(hintsemanticused: true).count %> keer gebruikt.
							<p>Je hebt de zinnen <%= @playedlevel.answers.where(hintsentenceused: true).count %> keer gebruikt.
							<p>Je hebt de afbeeldingen <%= @playedlevel.answers.where(hintimageused: true).count %> keer gebruikt.

							<p>

							<p><%= @starmessage %></p>
							<p> <%= link_to 'Terug naar het overzicht', :controller => "users", :action => "show", :id => current_user %>

							</div>	
               			</div>
              		</div>
	          	</div>
			</div>
		</div>
	</div>
</div>	