<div class = "not-opaque">
<h1>Listing playedlevels</h1>

<table>
  <thead>
    <tr>
      <th>Startlevel</th>
      <th>Finishlevel</th>
      <th>Playtime</th>
      <th>Levelcompleted</th>
      <th>Stars</th>
      <th>Level</th>
      <th>User</th>
      <th>Correctquestions</th>
      <th>Levelxp</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @playedlevels.each do |playedlevel| %>
      <tr>
        <td><%= playedlevel.startlevel %></td>
        <td><%= playedlevel.finishlevel %></td>
        <td><%= playedlevel.playtime %></td>
        <td><%= playedlevel.levelcompleted %></td>
        <td><%= playedlevel.stars %></td>
        <td><%= playedlevel.level.number %></td>
        <td><%= playedlevel.user.name %></td>
        <td><%= playedlevel.correctquestions %></td>
        <td><%= playedlevel.levelxp %></td>
        <td><%= link_to 'Show', playedlevel %></td>
        <td><%= link_to 'Destroy', playedlevel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>