<div class = "not-opaque">
<h1>Gespeelde levels</h1>

<table>
  <thead>
    <tr>
      <th>Started at</th>
      <th>Ended at</th>
      <th>seconds</th>
      <th>Levelcompleted</th>
      <th>Stars</th>
      <th>Level</th>
      <th>User</th>
      <th>Correctquestions</th>
      <th>Levelxp</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @playedlevels.each do |playedlevel| %>
      <tr>
        <td><%= playedlevel.started_at %></td>
        <td><%= playedlevel.ended_at %></td>
        <td><%= playedlevel.seconds %></td>
        <td><%= playedlevel.levelcompleted %></td>
        <td><%= playedlevel.stars %></td>
        <td><%= playedlevel.level.number %></td>
        <td><%= playedlevel.user.name %></td>
        <td><%= playedlevel.correctquestions %></td>
        <td><%= playedlevel.levelxp %></td>
        <td><%= link_to 'Toon', playedlevel %></td>
        <td><%= link_to 'Verwijder', playedlevel, method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>