<div class = "container">
<div class = "not-opaque">
  <p id="notice">
  <%= notice %></p>

<p>
  <strong>Startlevel:</strong>
  <%= @playedlevel.startlevel %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @playedlevel.ended_at %>
</p>

<p>
  <strong>seconds:</strong>
  <%= @playedlevel.seconds %>
</p>

<p>
  <strong>Levelcompleted:</strong>
  <%= @playedlevel.levelcompleted %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @playedlevel.stars %>
</p>

<p>
  <strong>Level:</strong>
  <%= @playedlevel.level %>
</p>

<p>
  <strong>User:</strong>
  <%= @playedlevel.user %>
</p>


<p>
  <strong>Correctquestions:</strong>
  <%= @playedlevel.correctquestions %>
</p>

<p>
  <strong>Levelxp:</strong>
  <%= @playedlevel.levelxp %>
</p>

<%= link_to 'Terug', playedlevels_path %>
</div>
</div>