<!DOCTYPE html>
<html>
<head>
 
  
   <title>Taal Telt</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

      <style type="text/css">     

       .main {
        padding: 75px 15px;
      }
      
      .fullwidth
      {
          width: 100%;
      }
      
      .align-right
      {
          text-align: right;   
      }

      .top{height: 300px;}

       body { background: #ADD8E6; }
            /* Fallback for web browsers that don't support RGBa */
        background-color: rgb(0, 0, 0);
        /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0);
        /* For IE 5.5 - 7*/
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

    </style>

  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand " href="/">
          Taal Telt</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Spelregels", page_rules_path %></li>
            <li><%= link_to "Over dit project", page_about_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%if current_user != nil %>
              <% if current_user.acro == "mve" %>
                <li> <%= link_to "Beheerpagina", page_admin_path %> </li>
              <%end%>
            <% end %>
            <% if current_user %>
              <li> <%= link_to "Log out", log_out_path %> </li>
              <li> <%= link_to "Profiel", :controller => "users", :action => "show", :id => current_user %>.</li>
            <% else %>
              <li> <%= link_to "log in", log_in_path %> </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
      
    <%= yield %>

  </body>
</html>


